html {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  background-image: url("Asset/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    
}

header {
  background: #642a84;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  width: 100%;
}
.form {
  background: #642a84;
  padding: 10px;
  color: #fff;
  max-width: 500px;
  text-align: center;
  width: 100%;
  border-radius: 10px;


}
.name-email {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gender {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-h2 {
    margin-bottom: 20px !important;
}

label {
    padding: 5px;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
   
  }
}
