html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("Asset/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg");
  /* background-repeat: no-repeat; */
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

header {
  background: #642a84;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  color: #262b31;
  background: #cecfd4;
  padding: 10px;
  border-radius: 10px;
}

header h1 {
  text-align: center;
  width: 100%;
}
.form {
  background: #642a84;
  padding: 10px;
  color: #fff;
  max-width: 500px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.name-email {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.gender {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.age {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

label {
  padding: 5px;
}

.cta {
    border: none;
    width: 50%;
    padding: 5px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
